<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- Kiểu dữ liệu trả về object nên ta cũng phải dùng object data[0] để khai báo biến -->
    <%=
    data[0].Price;
    %>
    
</body>
</html> 
